{% load article_tag %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
{% block mainmenu %}  
    <ul>
        <li><a href="{% url "home" %}">Home page</a></li>
        {% for m in mainmenu %}
            <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
        {% endfor %}
        {% if user.is_authenticated %}
        <li>
            <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </li>
        {% else %}
        <li><a href="{% url 'users:login' %}">Sign in</a> | <a href="#">Sign up</a></li>
        {% endif %}
    </ul>
{% endblock mainmenu %} 
<li><a href="{% url "home" %}">All</a></li>
{% show_categories %}
{% show_tags %}

{% block content %}
{% endblock content %}
</body>
</html>